<div class="view-diagram">
  <!--START menu bar -->
  <!-- <div class="top-menu"> -->
    <div id="currentFile">(Unsaved File)</div>
    <nav id="menu">
      <ul id="menuui">
        <li><a>File</a>
          <ul class='sub-menus'>
            <li><a id="newDocument">New</a></li>
            <li><a id="openDocuments">Open...</a></li>
            <li><a id="saveDocument">Save</a></li>
            <li><a id="saveDocumentAs">Save As...</a></li>
            <li><a id="removeDocuments">Delete...</a></li>
          </ul>
        </li>
        <li><a>Edit</a>
          <ul class='sub-menus'>
            <li><a (click)="undo()" id="undo">Undo</a></li>
            <li><a id="cutSelection">Cut</a></li>
            <li><a id="redo">Redo</a></li>
            <li><a id="copySelection">Copy</a></li>
            <li><a id="pasteSelection">Paste</a></li>
            <li><a id="deleteSelection">Delete</a></li>
            <li><a id="selectAll">Select All</a></li>
          </ul>
        </li>
        <li><a>Options</a>
          <ul class='sub-menus'>
            <li><a style="width: 120px;" href="#">
                <input id="grid" type="checkbox" name="options" value="grid">Grid</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  <!-- </div> -->
  <!--END menu bar -->

  <!-- START SideBar -->
    <div class="palette">
      <app-diagrama-palette></app-diagrama-palette>
    </div>
    <div class="overview">
      <h4 class="overview-title">Overview</h4>
      <div class="overview-diagram">
        <app-gojs-overview #myOverview [initOverview]='initOverview' [divClassName]='oDivClassName'
          [observedDiagram]='observedDiagram'></app-gojs-overview>
      </div>
    </div>
  <!-- END SideBar -->

  <div class="diagrama">
    <app-gojs-diagram #myDiagram [initDiagram]='initDiagram' [nodeDataArray]='state.diagramNodeData'
      [linkDataArray]='state.diagramLinkData' [divClassName]='diagramDivClassName' [modelData]='state.diagramModelData'
      (skipsDiagramUpdate)='state.skipsDiagramUpdate' (modelChange)='diagramModelChange($event)'>
    </app-gojs-diagram>
  </div>

  <div class="inspector">
    <app-diagram-inspector [nodeData]='state.selectedNodeData'
      (onInspectorChange)='handleInspectorChange($event)'></app-diagram-inspector>
  </div>
</div>