<div *ngIf='nodeData' id="myInspectorDiv">
    <table>
      <tbody>
        <tr *ngFor="let entry of nodeData | keyvalue">
          <ng-template [ngIf]="isNotAttribute(entry.key)" [ngIfElse]="atributos">
            <app-diagram-inspector-row *ngIf="entry.key !== 'id'" [id]="entry.key" [value]="entry.value" (onInputChangeEmitter)="onInputChange($event)"></app-diagram-inspector-row>
          </ng-template>
          <ng-template #atributos>
            <tr>
              Atributo
            </tr>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf='!nodeData'>
    Select a Node to use Inspector
  </div>